body{
    background-color: floralwhite;
    color:crimson;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
}
input{
    width: 460px;
    color:darkred;
    text-align: justify;
    font-size: larger;
    font-weight: bolder;
    border: 5px solid #555;
}
}